[Unit]
Description=corona-ad

[Service]
Type=simple
ExecStart=/usr/bin/corona-ad -c /etc/futurehome/corona-ad/config.json
User=corona-ad
WorkingDirectory=/var/lib/futurehome/corona-ad
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target